body {
	font-family: 'Shuneet', serif;
	background: #ffffcc;
	text-align: right;
    font-weight: bold;
    font-size: medium;
}

h3 {
	display: none;
}

th, td {
	text-align: center;
	padding:5px !important;
	
}

#title {
	background: #B3CF60;
	/*background: linear-gradient(to right, rgb(134, 179, 0),
		rgba(134, 179, 0,0));*/
}


#table tr:first-child {
	font-weight:bold;
	margin-top:5px;
}

#table {
	margin-top:5px;
}

#nav-bar {
	background: #CFCF60;
	margin-bottom: 25px;
}
.page-header{
	margin-top:10px !important;
}
 button{
	 margin:5px;
 }
 
.container{
	/* width:90%; */
/* 	padding-right: 5px;
    padding-left: 5px; */
}
#text{
    float:right;
    font-family: 'Shuneet', serif;
    font-size: 17px;
    font-weight: bold;

}

#stage {
    margin: 1em;
    width: 500px;
    height: 292px;
    float:left;
}

#stage a {
    position: absolute;
    /*padding-top: 50px;*/
}



#stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 2s;
    z-index: 20;
}
#stage a:nth-of-type(2) {
    z-index: 10;
}
#stage a:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}
.list-group-item {
    padding: 3px 10px
}

.panel-heading, .panel-body{
    padding: 5px 10px
}